.navigation {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
  }
  
  
.navigation ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 500;
}